.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin:0;
  padding: 0;
}
.title{
  width: 100%;
  font-size: 22px;
  margin: 0;
}

.newsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsContainer .article{
  width: 700px;
  border: 2px solid black;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.newsContainer .article img{
  width: 500px;
}

.newsContainer .article p{
  width: 600px;
}