.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body{
  margin: 0px;
  padding: 0px;
}
.searchSection{
  flex: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: cadetblue;
  color: white;
}

.dealsSection{
  flex: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

input, button{
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin: 20px;
  font-size: 22px;
}

input{
  padding-left: 10px;
}

button{
  cursor: pointer;
}
.games{
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game{
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 7px;
  background-color: #fff;
  color: #000;
  padding: 5px;
}
.game img{
  width: 80%;
  margin-top: 10px;
}